h2 {
  color : red
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}

.row { display:table-row; }

.cell {
  display:table-cell;
  text-align: center;
  font-weight: bold;
  padding:5px;
}

.headContainer {
  width: 100%;
  text-align: center;
  background: #383838;
}

.bodyContainer {
  width: 97%;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 10px;
  padding: 10px;
}

.outputContainer {
  width: 97%;
  height: 300px;
  overflow-y: scroll;
  border:1px solid black;
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #383838;
  color: white;
  text-align: center;
}

a:link{
  color: red;
}

a:visited {
  color: red;
}

a:hover {
  color: red;
}
